#map {
    height: 1000px;
    width: 1000px;
    display: inline-block;
}

#panel {
    width: 26%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 10px;
}

.range-slider {
    width: 50%;
}

#forward {
    float: right;
	
}

#reverse {
    float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}
